/*
 Reset de body
 */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  image-rendering: optimizeQuality;

}


/*
 Aparência
 */
:root {
  --turquesaclaro: #00FFEF;
  --turquesaescuro: #378BB0;
  --bg-degrees: 45deg;
  --switch-bg-url: url(./assets/Light.png);

  --text-color: #141926;
  
  --body-font: "Lancelot";
  --rodape-font: "Lancelot";
  --body-bg: no-repeat
    linear-gradient(var(--bg-degrees), var(--turquesaclaro) 0%, var(--turquesaescuro) 100%)
    center/cover;

  --stroke-color: #C41E3A;
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: #ACFFAC;
  --highlight-color: #ACFFAC;
}



.lancelot-regular {
  font-family: "Lancelot", serif;
  font-weight: 1000;
  font-style: xx-large;
}

.roman-cross {
  position: relative;
  width: 40px;
  height: 40px;
  display: inline-block;
}
.vertical-bar {
  position: absolute;
  top: 0;
  left: 16px;
  width: 8px;
  height: 40px;
  background-color: #b22222;
  border-radius: 2px;
}
.horizontal-bar {
  position: absolute;
  top: 16px;
  left: 0;
  width: 40px;
  height: 8px;
  background-color: #b22222;
  border-radius: 2px;
}

/*
 Corpo da Página
 */
html,
body {
  min-height: 100vh;
  background: var(--body-bg);
}

body * {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: xx-large;
  font-weight: 1000;
}

ul {
  list-style: none;
}

/*
 Perfil
 */
.container {
  width: 100%;
  text-align: center;
}

#profile {
  margin: 0 auto;
  padding-top: 3.5rem;
  margin-bottom: 1.5rem;
}

.avatar {
  width: 8rem;
  height: 8rem;
  margin: 0 auto 0.5rem;
  overflow: hidden;
  border-radius: 50%;
  border: 0.1px solid var(--stroke-color);
}

.avatar img {
  width: 100%;
  object-fit: cover;
  image-rendering: optimizeQuality;
}


/*
Links
*/
#links {
  
  padding: 1rem;
  align-items: cover;
  justify-content: cover;
  display: inline-flex;
  image-rendering: optimizeQuality;
}

#links a {
  object-fit: inline;
  display: flex;
  position: relative;
  width: 12rem;
  height: 12rem;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid var(--stroke-color);
  align-items: center;
  justify-content: center;

  -webkit-backdrop-filter: blur(0.25rem);
  backdrop-filter: blur(0.25rem);
  text-decoration: none;
  font-size: small;
  font-weight: 400;
  transition: --body-bg 1.4s;
  image-rendering: optimizeQuality;
}


#links a:hover {
  background: var(--surface-color-hover);
  border: 12px solid var(--turquesaescuro);
  -webkit-text-fill-color: var(--highlight-color);
  animation: 0.5s forwards;
  background: var(--turquesaescuro);
}



#links2 {
  padding: 1rem;
  gap: 1rem;
  display: inline-flex;
}

#links2 a {
  display: inline-flex;
  width: 16rem;
  height: 16rem;

  position: relative;

  overflow: hidden;
  border-radius: 50%;
  border: 4px solid var(--stroke-color);
  align-items: center;
  justify-content: cover;
  -webkit-backdrop-filter: blur(0.25rem);
  backdrop-filter: blur(0.25rem);
  text-decoration: none;
  font-size: medium;
  font-weight: 400;
  transition: --body-bg 1.4s;
}


#links2 a:hover {
  background: var(--surface-color-hover);
  border: 12px solid var(--turquesaescuro);
  -webkit-text-fill-color: var(--highlight-color);
  animation: 0.5s forwards;
  background: var(--turquesaescuro);
}


footer * {
  display: block;
  color: var(--text-color);
  font-family: var(--rodape-font);
  font-size: small;
  font-weight: 100;
}

